.products {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -1rem;
}

.single-product {
	h1 {
		@include for-phone {
			font-size: 12px;
			line-height: 18px;	
		}
	}
}

.product {
	&-box {
		border-radius: 10px;
	}
	&_card {
		position: relative;
		background-color: #ffffff;
		border-radius: 10px;
		overflow: hidden;
		will-change: transform;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-webkit-transition: -webkit-transform 0.5s;
		transition: -webkit-transform 0.5s;
		-o-transition: transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;
		margin-bottom: 10px;
		&:hover {
			-webkit-transform: scale(1.055);
			-ms-transform: scale(1.055);
			transform: scale(1.055);
			.product_card_id {
				opacity: 0;
			}
			.product_card_actions {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
				z-index: 2;
			}
			.product_card_thumb {
				img {
					-webkit-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
		@include for-phone {
			margin-bottom: 20px;
		}
		&_link {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0; top: 0;
			z-index: 1;
		}
		&_thumb {
			height: 245px;
			img {
				width: auto;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				margin: auto;
				-webkit-transition: -webkit-transform 0.5s;
				transition: -webkit-transform 0.5s;
				-o-transition: transform 0.5s;
				transition: transform 0.5s;
				transition: transform 0.5s, -webkit-transform 0.5s;
			}
		}
		&_id {
			font-style: normal;
			font-weight: normal;
			font-size: 8px;
			line-height: 9px;
			color: #000000;
			opacity: 0.5;
		}
		&_title {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #10084C;
		}
		&_price {
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			color: #10084C;
		}
		&_actions {
			width: 100%;
			position: absolute;
			bottom: 0; left: 0;
			background-color: #ffffff;
			-webkit-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.35s;
			transition: -webkit-transform 0.35s;
			-o-transition: transform 0.35s;
			transition: transform 0.35s;
			transition: transform 0.35s, -webkit-transform 0.35s;
			&_add {
				height: 40px;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 15px;
				text-align: center;
				text-transform: uppercase;
				color: rgba(255,255,255,0.9);
				background: #2FA9ED;
				border-radius: 0px 0px 0px 10px;
				a {
					display: inline-block;
					padding: 12px 32px;
				}
			}
		}
	}
	&_sku {
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 18px;
		color: #10084C;
	}
	&_stock {
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 18px;
		&.instock {
			color: #0BB17F;
		}
		&.outstock {
			color: #A30D0D;
		}
	}
	&_meta {
		&_info {
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 18px;
			color: #000000;
			border-bottom: 2px solid #E6E6E6;
			span {
				font-weight: 600;
				letter-spacing: 0.06em;
				text-transform: uppercase;
				opacity: 0.6;
			}
		}
	}
	&_gallery {
		&_list {
			&_single {
				width: 55px;
				margin-bottom: 1rem;
				img {
					width: 100%;
					height: 70px;
					-o-object-fit: cover;
					object-fit: cover;
				}
			}
		}
		&_item {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	&_price {
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 36px;
		text-transform: uppercase;
		color: #10084C;
		@include for-phone {
			font-size: 18px;
			line-height: 36px;
		}
	}
	&_btn {
		background: #10084C;
		border: 2px solid #10084C;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 10px;
		color: rgba(255,255,255,0.9);
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&_description {
		border-top: 2px solid #E6E6E6;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		span {
			font-weight: 600;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.06em;
			text-transform: uppercase;
		}
		a {
			color: #10084C;
		}
	}
	&_content {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		.title {
			font-weight: 600;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.06em;
			color: #000000;
		}
	}
	&_params {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		.title {
			font-weight: 600;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.06em;
			color: #000000;
		}
		&_item {
			position: relative;
			font-size: 14px;
			line-height: 22px;
			color: #000000;
			@include for-phone {
				font-size: 11px;
				line-height: 18px;
			}
			&:after {
				content: '';
				width: 95%;
				width: calc(100% - 2rem);
				height: 2px;
				position: absolute;
				bottom: 0; left: 1rem;
				background-color: #E6E6E6;
				@include for-phone {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}