/* COLORS */
$color_yellow: #FEDA48;
$color_green: #009C58;
$color_red: #EA522F;
$color_purple: #4858A4;
$color_blue: #009FE3;
$color_dark: #122735;

/* FONTS SIZE */
$big_font: 18px;
$medium_font: 14px;
$small_font: 12px;